<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <!--<add name="ConnString" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;persistsecurityinfo=True;port=3306;database=bondsmen;userid=bond;password=bond1;SSL Mode=none;"/>-->
  <add name="ConnString" providerName="MySql.Data.MySqlClient" connectionString="server=192.232.220.174;persistsecurityinfo=True;port=3306;database=nab403_bondsmen;userid=nab403_datapull;password=RHmhMU_wO;SSL Mode=none;"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/></DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
  </entityFramework>
  <appSettings>
    <!-- Urls to work -->
    <add key="SearchUrl" value="https://www.hcdistrictclerk.com/Edocs/Public/search.aspx"/>
    <add key="LoginUrl" value="https://www.hcdistrictclerk.com/eDocs/Secure/WideLogin.aspx?ReturnUrl=/Edocs/Public/search.aspx?ShowFF=1"/>
    <add key="CaseUrl" value="https://www.hcdistrictclerk.com/edocs/public/CaseDetailsPrinting.aspx?"/>
    <!-- Proxy server -->
    <add key="ProxyIP" value="127.0.0.1"/>
    <add key="ProxyPort" value="8888"/>
    <!-- Skip case if case number is duplicated -->
    <add key="SkipIfDuplicate" value="true"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.10.7.0" newVersion="6.7.9.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime> 
</configuration>
